*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  }
body{
  background-image: url(immagini/background.jpg);
  background-size: cover;
  }
.container{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000px;
  margin: auto;
  border-radius: 3%;
  padding: 4%;
}
.logo-resized{
  display: block;
  margin: auto;
  width: 180px;
}
header{
  text-align: center;
  color: rgb(0, 221, 0);
}
h1{
  margin-bottom: 5px;
}
.navigation{
  margin: auto;
  text-align: center;
  line-height: 50px;
  background-color: rgb(0, 221, 0);
  width: 800px;
  color: black;
}
.modello{
  width: 800px;
  margin: auto;
  padding-top: 3%;
  color: white;
}
.mod{
  padding-bottom: 4%;
  line-height: 23px;
}
.row{
  display: inline;
  font-size: 20px;
}
.row.via{
  font-size: 15px;
}
.arrow:after{
  content: "\21A6";
}
.midcharge{
  background-color: rgb(245, 180, 83);
  width: 250px;
  height: 30px;
  border-radius: 5px;
}
.charge{
  background-color: rgb(30, 195, 30);
  width: 500px;
  height: 30px;
  border-radius: 5px;
}
.nocharge{
  background-color: rgb(190, 65, 65);
  width: 150px;
  height: 30px;
  border-radius: 5px;
}
